.bird {
    border: rgb(255, 169, 64) 1px solid;
    margin: 1rem;
}

.bird img {
    width: 12rem;
}

.card-data {
    padding: 0rem .5rem;
}

.birds-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
}

.bird-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    font-family: 'source serif 4', serif;
    font-weight: 300;
}

.name {
    font-family: 'source serif 4', serif;
    font-weight: 400;
}

.species {
    font-family: 'source serif 4', serif;
    font-weight: 400;
    font-style: italic;
}

.bird-detail-img {
   width: 22rem;
}

.bird-data {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.bird-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

.bird-form input {
    margin-bottom: .5rem;
    padding: .5rem;
    font-family: 'source serif 4', serif;
    font-weight: 300;
    width: 14rem;
}

.bird-form textarea {
    height: 10rem;
    width: 14rem;
    resize: none;
    font-family: 'source serif 4', serif;
    font-weight: 300;
    padding: .5rem;
    margin-bottom: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
}
  
footer img {
    width: 500px;
}

.bird-img {
    width:500px;
}

button {
    cursor: pointer;
    background-color: white;
    border: none;
    font-family: 'Suez One', serif;
    color: rgb(255, 169, 64);
    font-size: 1rem;
  }