.bird {
    border: red 1px solid;
    margin: 1rem;
}

.birds-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
}

.bird-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.bird-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

.bird-form input {
    margin-bottom: .5rem;
}

.bird-form textarea {
    height: 8rem;
    resize: none;

}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
}
  
footer img {
    width: 30rem;
}

button {
    cursor: pointer;
    background-color: white;
    border: none;
    font-family: 'Suez One', serif;
    color: rgb(255, 169, 64);
    font-size: 1rem;
  
  }